body {
    background: #c8e8d5;
    font-family: Arial, sans-serif;
}

.container {
    width: 420px;
    background: white;
    padding: 25px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: center;
}

h2 {
    color: #0b8f32;
    margin-bottom: 5px;
}

.subtitle {
    font-size: 14px;
    color: #444;
    margin-bottom: 20px;
}

.top-text {
    background: #c8e8d5;
    padding: 8px;
    border-radius: 20px;
    font-size: 13px;
    margin-bottom: 20px;
    color: #1b5e20;
    font-weight: bold;
}

.feedback-form label {
    display: block;
    text-align: left;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #1b5e20;
}

.feedback-form input,
.feedback-form textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #bbb;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
}

.radio-group {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}

button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background: #1b8f38;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #157a2d;
}
